In [1]:
import pandas as pd
import openpyxl
from pandas import DataFrame
from sklearn import tree
from sklearn.metrics import accuracy_score

In [2]:
printscoreone=0
printscoretwo=0
name_list=[]
temp_name_list=[]

In [3]:
df = pd.read_csv('D:\\Cloud Counselage\\Data.csv')
df.head()

              Name           Domain          Event1          Event2
0      Bryan Brock       Management            Jobs      Hackathons
1  Joseph Sullivan           Coding  Certifications        Webinars
2    Sherri Dawson         Security     Internships           Fests
3  Dustin Ferguson         Hardware    Competitions        Webinars
4      Kayla Young  Web Development           Expos  Certifications

In [4]:
dmUQ = df.Domain.unique()
dmNO=[]
[dmNO.append(x) for x in range(1,len(dmUQ)+1)]    

eeUQ = df.Event1.unique()
eeNO=[]
[eeNO.append(x) for x in range(1,len(eeUQ)+1)]
    
    
pUQ = df.Name.unique()
pNO=[]
[pNO.append(x) for x in range(1,len(pUQ)+1)]
               
df['Event1'].replace(eeUQ,eeNO,inplace=True)
df['Event2'].replace(eeUQ,eeNO,inplace=True)
df['Domain'].replace(dmUQ,dmNO,inplace=True)
df['Name'].replace(pUQ,pNO,inplace=True)
    
tmp_df=df.copy()
df.head()

   Name  Domain  Event1  Event2
0     1       1       1       9
1     2       2       2      12
2     3       3       3      10
3     4       4       4      12
4     5       5       5       2

In [5]:
Domain_extract={
    'MANAGEMENT':'Management',                                       'MANAGEMENTS':'Management',  
    'C':'C',                                                         'CODEATHON':'Coding',
    'CODING':'Coding',                                               'HARDWARES': 'Hardware',
    'CLOUD COMPUTING': 'Cloud Computing',                            'NETWORKS':'Networking',
    'SECURITY':'Security',                                           'NETWORK':'Networking',
    'JAVASCRIPT':'JavaScript',                                       'BLOCKCHAINS': 'Blockchain',
    'HARDWARE': 'Hardware',                                          'DEVELOPMENT PROCESS':'Development Processes',
    'NETWORKING':'Networking',                                       'DATA ANALYSIS':'Data Science',
    'WEB DEVELOPMENT':'Web Development',                             'SOFTWARE ARCHITECTURES':'Software Architecture',
    'MACHINE LEARNING':'Machine Learning',                           'MOBILE APPLICATION':'Mobile Applications',
    'HIGHER EDUCATION':'Higher Education',                           'ANDROID':'Mobile Applications',
    'BLOCKCHAIN': 'Blockchain',                                      'SYSTEM ADMINISTRATIOR':'Other',
    'IOT':'IoT',                                                     'BIG DATA':'Data Science',
    'C++':'C++',                                                     'DATABASE':'Other',
    'JAVA':'Java',                                                   'NETWORK ARCHITECT':'Networking',
    'DEVELOPMENT PROCESSES':'Development Processes',                 'WEB DEVELOPER':'Web Development',
    'ARTIFICIAL INTELLIGENCE':'Artificial Intelligence',             'INFORMATION SECURITY':'Security',
    'DATA SCIENCE':'Data Science',                                   'CYBER SECURITY':'Security',
    'PYTHON':'Python',                                               'QUERY':'Other',
    'SOFTWARE ARCHITECTURE':'Software Architecture',                 'DATA SCIENTIST':'Data Science',
    'FINANCE':'Finance',                                             'DATA MANAGER':'Other',
    'OTHER': 'Other',                                                'IT AUDITOR':'Other',
    'MOBILE APPLICATIONS':'Mobile Applications',                     'ETHICAL HACKING':'Other',
    'SYSTEM ADMINISTRATION':'Other',                                 'ETHICAL HACKER':'Other',
    'DATA ENGINEER':'Data Science',                                   'NETWORK ANALYST':'Networking', 
    'WIRELESS ENGINEER':'Networking',                                'NETWORK MANAGER':'Networking',    
    'PROJECT MANAGER':'Development Processes',                       'PRODUCT MANAGER':'Development Processes', 
    'BUSINESS':'Finance',                                            'INVESTMENT':'Finance',  
    'TERTIARY EDUCATION':'Higher Education',                         'MASTERS':'Higher Education',  
    'A.I.':'Artificial Intelligence',                                'AI':'Artificial Intelligence',  
    'M.L.':'Machine Learning',                                       'ML':'Machine Learning',
    'DL' : 'Machine Learning',                                       'DEEP LEARNING':'Machine Learning',
    'SDLC':'Development Processes',                                  'AGILE':'Development Processes', 
    'SCRUM':'Development Processes',                                 'KANBAN':'Development Processes'  
}

In [6]:
Event_extract={
    'JOBS':'Jobs',                  'CERTIFICATIONS':'Certifications',
    'JOB' : 'Jobs',                 'CERTIFICATION' :'Certifications',
    'INTERNSHIP':'Internships',     'COMPETITION':'Competitions',
    'INTERNSHIPS':'Internships',    'COMPETITIONS':'Competitions',
    'EXPO':'Expos',                 'WORKSHOP':'Workshops',
    'EXPOS':'Expos',                'WORKSHOPS':'Workshops',
    'TRAINING':'Trainings',         'SEMINAR':'Seminars',
    'TRAININGS':'Trainings',        'SEMINARS':'Seminars',
    'HACKATHON':'Hackathons',       'FEST':'Fests',
    'HACKATHONS':'Hackathons',      'FESTS':'Fests',
    'TALK': 'Talks',                'WEBINAR':'Webinars',
    'TALKS': 'Talks',               'WEBINARS':'Webinars',
    'COURSE':'Courses',             'HACKATHON':'Hackathons',
    'COURSES':'Courses',            'HACKATHONs':'Hackathons',
    'CODEATHON':'Hackathons',
}

In [7]:
c=0
event_list=[]

while(c==0):
    try:
        event_no = int(input('Enter number of events: '))
        c=1
    except:
        print('ENTER A NUMBER!')
        
for x in range(1,event_no+1):
    event = (input(f'Enter Event No.{x} name: ')).upper()
    event_list.append(event)
    print(f'>>>{event}')
print(event_list)

Enter number of events: 2
Enter Event No.1 name: Coding hackathon in maumbai by iit
>>>CODING HACKATHON IN MAUMBAI BY IIT
Enter Event No.2 name: ibm finance seminars
>>>IBM FINANCE SEMINARS
['CODING HACKATHON IN MAUMBAI BY IIT', 'IBM FINANCE SEMINARS']

In [8]:
def event_splitter(x):
    t = x.split(' ')
    return t

In [9]:
def dom_eve_extractor(t):
    flag_domain = 0
    flag_event = 0
    flag_domain2 = 0
    flag_event2 = 0
    DE= []
    EE= []
    for x in t:
        try:
            DE.append(Domain_extract[x])
            flag_domain = 1
            flag_domain2 = 1
        except:
            pass
        try:
            EE.append(Event_extract[x])
            flag_event = 1
            flag_event2 = 1
        except:
            pass
    
        
    if flag_domain == 0:
        for x in t:
            for y in t:
                try:
                    dummy = x+' '+y
                    DE.append(Domain_extract[dummy])
                    flag_domain2 = 1
                except:
                    pass
    
    if flag_event == 0:
        for x in t:
            for y in t:
                try:
                    dummy = x+' '+y
                    EE.append(Event_extract[dummy])
                    flag_event2 = 1
                except:
                    pass   
                
    if (flag_domain2 == 0):
        DE.append('Other') 
        
                
    print(f'***Domain: {DE}***')
    print(f'***Event: {EE}***')
    return DE, EE

## Training with Event 1

In [10]:
def traineventone(tmp_df,printscoreone):
    x_train = tmp_df[['Event1','Domain']]
    y_train = tmp_df['Name']
    req_ENO =[]
    req_DNO =[]
    clf = tree.DecisionTreeClassifier()

    clf.fit(x_train,y_train)
    y_pred = clf.predict(x_train)
    

    def p1():
        for x,y in zip(eeNO,eeUQ):
            if y in EE:
                req_ENO.append(x)  
        for x,y in zip(dmNO,dmUQ):
            if y in DE:
                req_DNO.append(x) 
        def p2(req_ENO,req_DNO):
            
            if(len(req_ENO)>len(req_DNO)):
                diff=len(req_ENO)-len(req_DNO)    
                [req_DNO.append(req_DNO[-1]) for i in range(0,diff)]
                
            else:
                diff=len(req_DNO)-len(req_ENO)
                [req_ENO.append(req_ENO[-1]) for i in range(0,diff)]
                
            for e,d in zip(req_ENO,req_DNO):
                x_new=[[e,d]]   
                tmp = clf.predict_proba(x_new)
                for index, prob in enumerate(tmp[0]):
                    if prob>=0.5:
                        for x,y in zip(pNO,pUQ):
                            if x==index+1:
                                print(y)
                                temp_name_list.append(y)
        p2(req_ENO,req_DNO)
    p1()

## With Event 2

In [11]:
def traineventtwo(tmp_df,printscoretwo):
    x_train = df[['Event2','Domain']]
    y_train = df['Name']
    req_ENO =[]
    req_DNO =[]

    clf = tree.DecisionTreeClassifier()
    clf.fit(x_train,y_train)
    
    y_pred = clf.predict(x_train)
    def d1():
        for x,y in zip(eeNO,eeUQ):
            if y in EE:
                req_ENO.append(x)
        for x,y in zip(dmNO,dmUQ):
            if y in DE:
                req_DNO.append(x)
                
        def d2(req_ENO,req_DNO):
            
            if(len(req_ENO)>len(req_DNO)):
                diff=len(req_ENO)-len(req_DNO)
                [req_DNO.append(req_DNO[-1]) for i in range(0,diff)]

            else:
                diff=len(req_DNO)-len(req_ENO)
                [req_ENO.append(req_ENO[-1]) for i in range(0,diff)]

            for e,d in zip(req_ENO,req_DNO):
                x_new=[[e,d]]
                yprob = clf.predict_proba(x_new)
                y_pred = clf.predict(x_new)
                for indx,prob in enumerate(yprob[0]):
                    if prob>=0.5:
                        for x,y in zip(pNO,pUQ):
                            if x==indx+1:
                                print(y)
                                temp_name_list.append(y)
        d2(req_ENO,req_DNO)
    d1()

In [12]:
words2num_flag = 0

for x in event_list:
    t = event_splitter(x)
    DE, EE= dom_eve_extractor(t)
    traineventone(tmp_df,printscoreone)
    traineventtwo(tmp_df,printscoretwo)
    name_list.append(temp_name_list)
    temp_name_list=[]

***Domain: ['Coding']***
***Event: ['Hackathons']***
Corey Moran
Laura Hurst
***Domain: ['Finance']***
***Event: ['Seminars']***
William Rosales
Andre Mcclure
Jessica Silva

In [13]:
name_list

[['Corey Moran', 'Laura Hurst'],
 ['William Rosales', 'Andre Mcclure', 'Jessica Silva']]

In [14]:
event_list

['CODING HACKATHON IN MAUMBAI BY IIT', 'IBM FINANCE SEMINARS']

In [15]:
dict1 = {}
dict2 = {}

In [16]:
for totalppl,event in zip(name_list,event_list):
    for person in totalppl:
        if person not in dict1:
            dict1[person]=event
        elif person in dict1:
            dict2[person]=event

In [17]:
dict1

{'Corey Moran': 'CODING HACKATHON IN MAUMBAI BY IIT',
 'Laura Hurst': 'CODING HACKATHON IN MAUMBAI BY IIT',
 'William Rosales': 'IBM FINANCE SEMINARS',
 'Andre Mcclure': 'IBM FINANCE SEMINARS',
 'Jessica Silva': 'IBM FINANCE SEMINARS'}

In [18]:
dict2

{}

In [19]:
dfx = DataFrame(list(dict1.items()),columns = ['Employee Name','Events']) 
dfx

     Employee Name                              Events
0      Corey Moran  CODING HACKATHON IN MAUMBAI BY IIT
1      Laura Hurst  CODING HACKATHON IN MAUMBAI BY IIT
2  William Rosales                IBM FINANCE SEMINARS
3    Andre Mcclure                IBM FINANCE SEMINARS
4    Jessica Silva                IBM FINANCE SEMINARS

In [20]:
if bool(dict2):
    dfy = DataFrame(list(dict2.items()),columns = ['Employee Name','Events'])
    dfx = dfx.append(dfy).reset_index()
    dfx.drop(columns='index')
dfx

     Employee Name                              Events
0      Corey Moran  CODING HACKATHON IN MAUMBAI BY IIT
1      Laura Hurst  CODING HACKATHON IN MAUMBAI BY IIT
2  William Rosales                IBM FINANCE SEMINARS
3    Andre Mcclure                IBM FINANCE SEMINARS
4    Jessica Silva                IBM FINANCE SEMINARS

In [21]:
dfx.to_excel('CloudEvents.xlsx', index = None, header=True)